#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.5) 1%, transparent),
    url("images/4597635-pirates-portgas-d.-ace-whitebeard-fire-one-piece-anime.jpg") no-repeat border-box;
    background-position: center;
    background-size: cover;
    background-size: cover;
    zoom: 1.7;
    height: 40vh;
    position: relative;

}

.section-title {
    color: #2ddf5c;
    text-align: center;
    vertical-align: middle;
}

#product-overview h1 {
    display: none;
    color: rgba(122, 86, 187, 0.62);
    font-family: 'Anton', sans-serif;
    position: absolute;
    top: 2%;
    left: 35%;
}


/*#plans p::first-letter {*/
/*    font-size: 2.5rem;*/
/*    font-weight: bold;*/
/*    font-family: 'Goudy Bookletter 1911', serif;*/
/*    padding-left: 0.2rem;*/
/*}*/

.plans-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plan-article {
    background: #d5ffdc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem;
}


.plan-article__price {
    color: gray;
}

.plan-article__feature,
.plan-article__feature {
    list-style: none;
}

.plan-article__recommended {
    background: #1ea348;
    color: whitesmoke;
}


.plan-article__recommended__title {
    background: whitesmoke;
    color: #1ea348;
    border-radius: 8px;
    padding: 0.2rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.plan-article__features {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.button:focus {
    outline: none;
}

.plan-article .button {
    margin: 0.5rem 0.5rem;
}

.plan-article__recommended .plan-article__price {
    color: rgba(238, 223, 86, 0.9);
}

#key-features {
    background: #e53c6f;
    margin-top: 3.5rem;
    color: white;
    margin-bottom: 3.8rem;
    vertical-align: middle;
}

.key-features__title {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.4rem 0 0.7rem;
}

.key-features__lst__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.key-features__lst__item {
    display: block;
    margin-top: 0.4rem;
    margin-right: 10%;
    padding-bottom: 0.5rem;
}

.key-features__lst__item div {
    height: 100px;
    width: 100px;
    background-color: rgba(243, 177, 211, 0.73);
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.74);
    display: inline-block;
}

.key-features__image {
    padding: 1rem;
}


.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--negative {
    background: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}

@media (min-width: 45rem) {
    #key-features {
        margin-top: 4.5rem;
    }

    .key-features__lst__item {
        max-height: 10rem;
        max-width: 30rem;
    }

    .key-features__lst__items {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 45rem) {
    #product-overview h1 {
        font-size: 3rem;
    }

    #product-overview {
        zoom: 0;
        background-position: center top 45%;
        height: 70vh;
    }
}

@media (min-width: 45rem) {
    .plans-div {
        flex-direction: row;
    }

    .plan-article {
        padding: 1.3rem;
        margin: 1rem;
        width: 28%;
        height: 25rem;
    }
}

@media (min-width: 45rem) {
    .plan-article__recommended {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        height: 28rem;
    }

    .plan-article__recommended__title {
        background-size: cover;
        margin: auto;
        font-size: 1rem;
        min-width: min-content;
        max-width: 30rem;
        padding: 0.2rem 0.2rem;
    }

    .plan-article__details{
        text-align: center;
    }
}