@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

* {
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: 0 auto fit-content(3rem);
    grid-template-areas: "header"
                         "main"
                         "footer";
    height: 100%;
}
main{
    grid-area: main;
}
.backdrop {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #7AA5BF;
    /*padding: 0.1rem 0;*/
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__brand {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}


.main-header__brand > img {
    height: 3rem;
    vertical-align: middle;
}

.main-header > div {
    display: flex;
}

.main-nav {
    display: none;
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    display: flex;
}

.main-nav__item {
    margin: 0 0.2rem 0 1.5rem;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 0.1rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active{
    color: white;
    border-bottom: whitesmoke solid 2px;
}

.mobile-nav__item a:hover,
.mobile-nav__item a:active {
    color: mediumpurple;
    border-bottom: whitesmoke solid 2px;
}


.main-nav__cta a,
.mobile-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.main-nav__cta a:hover,
.main-nav__cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    color: #ff1b68;
    background: blueviolet;
    border: none;
}

.button {
    border-radius: 6px;
    padding: 0.3rem;
    background: #153b15;
    border-color: black;
    color: white;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
}



.button:active,
.button:hover {
    background: darkviolet;
    color: white;
}

.button[disabled] {
    cursor: not-allowed;
    border-color: #cccccc;
    background: #cccccc;
    color: #00000085;
}

.main-footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 0.5rem 0.5rem 0.5rem 0;
    grid-area: footer;
    /*position: fixed;*/
    /*width: 100%;*/
    /*bottom: 0;*/
    /*left: 0;*/
}

.main-footer__nav__links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

.main-footer__nav__link {
    padding: 0.4rem 1rem;
}

.main-footer__nav__link a {
    margin: auto;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.main-footer__nav__link:active a,
.main-footer__nav__link:hover a {
    color: darkseagreen;
}


.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 60%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}

.open {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}

@media (min-width: 530px) {
    .main-nav {
        display: block;
    }

    .toggle-button {
        display: none;
    }
}

